<mat-sidenav mode="side" opened>
  <mat-nav-list role="list">

    <mat-list-item role="listitem" routerLink="/featured">
      <mat-icon matListItemIcon style="color: black;">home</mat-icon>
      <span matLine>Home</span>
    </mat-list-item>
    <mat-list-item role="listitem"  routerLink="/subscriptions">
      <mat-icon matListItemIcon style="color: black;">subscriptions</mat-icon>
      <span matLine>Subscriptions</span>
    </mat-list-item>
    <mat-list-item role="listitem"  routerLink="/history">
      <mat-icon matListItemIcon style="color: black;">history</mat-icon>
      <span matLine>History</span>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon matListItemIcon style="color: black;">thumb_up</mat-icon>
      <span matLine>Liked Video</span>
    </mat-list-item>

   </mat-nav-list>

</mat-sidenav>


